@import "var.scss";
.wrapper {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    // _______________________________________________1
    .navigation-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 85px;
        z-index: 10;
        .nav-btn {
            width: 100%;
            height: 78px;
            border: none;
            border-bottom: 1px solid rgba(192, 192, 192, 0.1);
            background-color: transparent;
            font-size: 25px;
            position: relative;
            &:hover .tooltips {
                opacity: 1;
                animation: navTooltip 0.3s ease-in-out running;
            }
            &:active {
                color: white;
            }
            .tooltips {
                position: absolute;
                left: calc(100% + 10px);
                top: 50%;
                transform: translateY(-50%);
                color: $white;
                padding: 5px 16px;
                opacity: 0;
                &:after {
                    content: "";
                    background-color: inherit;
                    width: 13px;
                    height: 13px;
                    position: absolute;
                    left: -6px;
                    top: 50%;
                    transform: translateY(-50%) rotateZ(45deg);
                }
            }
            @keyframes navTooltip {
                0% {
                    transform: translateY(-50%) rotateZ(-7deg)
                }
                50% {
                    transform: translateY(-50%) rotateZ(7deg)
                }
                100% {
                    transform: translateY(-50%) rotateZ(0deg)
                }
            }
        }
        .active {
            color: $white;
            .tooltips {
                opacity: 0 !important;
            }
        }
    }
    // _______________________________________________2
    .main-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        flex-flow: row nowrap;
        .window {
            width: 50%;
            overflow-y: hidden;
            position: relative;
            .roll-container {
                width: 100%;
                height: 500vh;
                position: absolute;
                border: none;
                transition: 0.5s cubic-bezier(1, .15, .53, .93);
                .roll {
                    height: 100vh;
                    border: inherit;
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    flex-flow: column nowrap;
                    overflow: hidden;
                    .what-can-i-do-container {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        flex-flow: row wrap;
                        div {
                            width: 50%;
                        }
                    }
                    .roll-devider {
                        width: 100%;
                        padding: 60px;
                        border-bottom: 2px solid rgba(192, 192, 192, 0.3);
                    }
                    .roll-fig {
                        width: 100%;
                        height: 100%;
                        overflow: hidden;
                        margin: 0;
                        position: relative;
                        .roll-img {
                            height: 100%;
                            width: 100%;
                            // object-fit property help to img to be cover or contain in its box(width and height must set 100%)
                            object-fit: cover;
                        }
                        .name-tag {
                            height: 120px;
                            position: absolute;
                            right: 0;
                            top: 10%;
                            transform: translatey(100%);
                            opacity: 0;
                            transition: $base-transition+s;
                            @extend .fz-5;
                            font-weight: bold;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            text-transform: uppercase;
                        }
                        .name-tag-move {
                            transform: translateY(0);
                            opacity: 1;
                            transition-delay: 0.5s;
                            padding: 40px 60px;
                        }
                        .family-tag {
                            height: 120px;
                            position: absolute;
                            left: 0;
                            top: 10%;
                            transform: translateY(-100%);
                            opacity: 0;
                            transition: $base-transition+s;
                            @extend .fz-5;
                            font-weight: bold;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding: 40px 60px;
                            text-transform: uppercase;
                        }
                        .family-tag-move {
                            transform: translateY(0);
                            opacity: 1;
                            transition-delay: 0.5s;
                        }
                        .describe-tag {
                            position: absolute;
                            left: 0;
                            top: calc(10% + 120px);
                            transform: translateX(-100%);
                            opacity: 0;
                            transition: $base-transition+s;
                            @extend .fz-4;
                            padding: 30px 60px;
                            font-weight: bold;
                        }
                        .describe-tag-move {
                            transform: translateX(0);
                            opacity: 1;
                            transition-delay: 0.5s;
                        }
                        .social-tag {
                            display: flex;
                            flex-flow: row nowrap;
                            justify-content: space-between;
                            align-items: center;
                            position: absolute;
                            left: 0;
                            bottom: 10%;
                            transform: translateY(100%);
                            opacity: 0;
                            transition: $base-transition+s;
                            figure {
                                width: 80px;
                                height: 80px;
                                overflow: hidden;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                margin: 0;
                                position: relative;
                                border-right: 1px solid rgba(192, 192, 192, 0.3);
                                &:hover img {
                                    filter: grayscale(0);
                                    transform: scale(1.1);
                                }
                                img {
                                    width: 70%;
                                    height: 70%;
                                    object-fit: contain;
                                    filter: grayscale(0.7);
                                    transform: scale(1);
                                    transition: 0.2s;
                                }
                            }
                        }
                        .social-tag-move {
                            transform: translateY(0);
                            opacity: 1;
                            transition-delay: 0.5s;
                        }
                    }
                    .roll-title {
                        font-weight: bold;
                        @extend .fz-4;
                        margin: 0;
                        margin-bottom: 30px;
                        position: relative;
                        &:after {
                            content: '';
                            width: 100px;
                            height: 3px;
                            @extend .bg-lc-2;
                            position: absolute;
                            text-align: center;
                            bottom: -15px;
                            left: 0;
                            margin: 0;
                            z-index: 1;
                        }
                    }
                    h3 {
                        @extend .fz-3;
                        font-weight: bold
                    }
                    h4 {
                        @extend .fz-2;
                        font-weight: bold;
                        margin: 0;
                    }
                    .text-container {
                        @extend .mg-b-3;
                        @extend .pd-b-3;
                        h4 {
                            border-bottom: 2px solid rgba(192, 192, 192, 0.3);
                            @extend .mg-b-3;
                            @extend .pd-b-3;
                        }
                    }
                    .roll-text {
                        @extend .fz-1;
                    }
                    .personal-info {
                        padding: 0;
                        list-style-type: none;
                        list-style-position: inside;
                        border-top: 1px solid rgba(192, 192, 192, 0.3);
                        @extend .mg-b-4;
                        li {
                            display: flex;
                            justify-content: space-between;
                            align-items: baseline;
                            color: $l-color-3;
                            @extend .fz-3;
                            @extend .pd-t-2;
                            @extend .pd-b-2;
                            border-bottom: 1px solid rgba(192, 192, 192, 0.3);
                            figure {
                                display: flex;
                                align-items: baseline;
                                margin: 0;
                                figcaption {
                                    @extend .pd-l-1;
                                    font-weight: bold;
                                }
                            }
                            i {
                                width: 30px;
                            }
                        }
                    }
                    .btn-black {
                        @include btn;
                        color: white;
                        background-color: $l-color-1;
                    }
                    .btn-white {
                        @include btn;
                        background-color: $white;
                        color: $l-color-1;
                    }
                }
            }
        }
        .right-window {
            width: 100%;
            .roll-container {
                top: 0;
                .roll {
                    overflow-x: hidden;
                    overflow-y: scroll;
                }
            }
        }
        .left-window {
            width: 100%;
            .roll-container {
                bottom: 0;
            }
        }
    }
    .slider-container {
        width: 100%;
        min-height: 300px;
        position: relative;
        overflow-y: hidden;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        .slide {
            width: 100%;
            height: 74%;
            position: absolute;
            top: 7%;
            left: 0;
            opacity: 0;
            transition: 1s;
            background-color: $l-color-5;
            @extend .pd-3;
            display: block;
            // flex-flow: column nowrap;
            // justify-content: space-between;
            &:before {
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                content: "\f15b";
                background-color: $l-color-2;
                color: $white;
                border: 5px solid $white;
                width: 50px;
                height: 50px;
                position: absolute;
                top: -10px;
                left: -6px;
                @extend .fz-4;
                text-align: center;
            }
            p {
                margin: 0;
                @extend .mg-t-1;
                text-indent: 40px;
                line-height: 1.7;
                color: $l-color-3;
                @extend .pd-r-3;
                @extend .pd-l-3;
            }
            .cate-certification {
                text-align: right;
                font-weight: bold;
                &:before {
                    content: "— ";
                }
            }
        }
    }
}