@charset "UTF-8";
.fz-1, .wrapper .main-container .window .roll-container .roll .roll-text {
  font-size: 16px;
}

.fz-2, .wrapper .main-container .window .roll-container .roll h4, .wrapper .main-container .window .roll-container .roll .btn-black, .wrapper .main-container .window .roll-container .roll .btn-white {
  font-size: 18px;
}

.fz-3, .wrapper .main-container .window .roll-container .roll h3, .wrapper .main-container .window .roll-container .roll .personal-info li {
  font-size: 20px;
}

.fz-4, .wrapper .main-container .window .roll-container .roll .roll-fig .describe-tag, .wrapper .main-container .window .roll-container .roll .roll-title, .wrapper .slider-container .slide:before {
  font-size: 24px;
}

.fz-5, .wrapper .main-container .window .roll-container .roll .roll-fig .name-tag, .wrapper .main-container .window .roll-container .roll .roll-fig .family-tag {
  font-size: 30px;
}

.bg-lc-1 {
  background-color: #222;
}

.bg-lc-2, .wrapper .main-container .window .roll-container .roll .roll-title:after {
  background-color: #de3926 !important;
}

.bg-lc-3 {
  background-color: #777;
}

.bg-lc-4 {
  background-color: #f3f3f3;
}

.bg-white {
  background-color: white;
}

.bg-black {
  background-color: black;
}

.bg-dark-blue {
  background-color: #041f30;
}

.txt-lc-1 {
  color: #222;
}

.txt-lc-2 {
  color: #de3926;
}

.txt-lc-3 {
  color: #777;
}

.txt-lc-4 {
  color: #f3f3f3;
}

.txt-white {
  color: white;
}

.txt-black {
  color: black;
}

.bg-dc-1 {
  background-color: red;
}

.bg-dc-2 {
  background-color: green;
}

.bg-dc-3 {
  background-color: blue;
}

.bg-dc-4 {
  background-color: yellow;
}

.bg-not-white {
  background-color: black;
}

.bg-not-black {
  background-color: white;
}

.txt-dc-1 {
  color: red;
}

.txt-dc-2 {
  color: green;
}

.txt-dc-3 {
  color: blue;
}

.txt-dc-4 {
  color: yellow;
}

.txt-not-white {
  color: black;
}

.txt-not-black {
  color: white;
}

.pd-1 {
  padding: 5px;
}

.pd-2 {
  padding: 10px;
}

.pd-3, .wrapper .slider-container .slide {
  padding: 15px;
}

.pd-4 {
  padding: 20px;
}

.pd-5 {
  padding: 25px;
}

.pd-6 {
  padding: 30px;
}

.pd-7 {
  padding: 35px;
}

.pd-8 {
  padding: 40px;
}

.pd-t-1 {
  padding-top: 5px;
}

.pd-t-2, .wrapper .main-container .window .roll-container .roll .personal-info li {
  padding-top: 10px;
}

.pd-t-3 {
  padding-top: 15px;
}

.pd-t-4 {
  padding-top: 20px;
}

.pd-t-5 {
  padding-top: 25px;
}

.pd-t-6 {
  padding-top: 30px;
}

.pd-t-7 {
  padding-top: 35px;
}

.pd-t-8 {
  padding-top: 40px;
}

.pd-b-1 {
  padding-bottom: 5px;
}

.pd-b-2, .wrapper .main-container .window .roll-container .roll .personal-info li {
  padding-bottom: 10px;
}

.pd-b-3, .wrapper .main-container .window .roll-container .roll .text-container, .wrapper .main-container .window .roll-container .roll .text-container h4 {
  padding-bottom: 15px;
}

.pd-b-4 {
  padding-bottom: 20px;
}

.pd-b-5 {
  padding-bottom: 25px;
}

.pd-b-6 {
  padding-bottom: 30px;
}

.pd-b-7 {
  padding-bottom: 35px;
}

.pd-b-8 {
  padding-bottom: 40px;
}

.pd-r-1 {
  padding-right: 5px;
}

.pd-r-2 {
  padding-right: 10px;
}

.pd-r-3, .wrapper .slider-container .slide p {
  padding-right: 15px;
}

.pd-r-4 {
  padding-right: 20px;
}

.pd-r-5 {
  padding-right: 25px;
}

.pd-r-6 {
  padding-right: 30px;
}

.pd-r-7 {
  padding-right: 35px;
}

.pd-r-8 {
  padding-right: 40px;
}

.pd-l-1, .wrapper .main-container .window .roll-container .roll .personal-info li figure figcaption {
  padding-left: 5px;
}

.pd-l-2 {
  padding-left: 10px;
}

.pd-l-3, .wrapper .slider-container .slide p {
  padding-left: 15px;
}

.pd-l-4 {
  padding-left: 20px;
}

.pd-l-5 {
  padding-left: 25px;
}

.pd-l-6 {
  padding-left: 30px;
}

.pd-l-7 {
  padding-left: 35px;
}

.pd-l-8 {
  padding-left: 40px;
}

.mg-1 {
  margin: 5px;
}

.mg-2 {
  margin: 10px;
}

.mg-3 {
  margin: 15px;
}

.mg-4 {
  margin: 20px;
}

.mg-5 {
  margin: 25px;
}

.mg-6 {
  margin: 30px;
}

.mg-7 {
  margin: 35px;
}

.mg-8 {
  margin: 40px;
}

.mg-t-1, .wrapper .slider-container .slide p {
  margin-top: 5px;
}

.mg-t-2 {
  margin-top: 10px;
}

.mg-t-3 {
  margin-top: 15px;
}

.mg-t-4 {
  margin-top: 20px;
}

.mg-t-5 {
  margin-top: 25px;
}

.mg-t-6 {
  margin-top: 30px;
}

.mg-t-7 {
  margin-top: 35px;
}

.mg-t-8 {
  margin-top: 40px;
}

.mg-b-1 {
  margin-bottom: 5px;
}

.mg-b-2 {
  margin-bottom: 10px;
}

.mg-b-3, .wrapper .main-container .window .roll-container .roll .text-container, .wrapper .main-container .window .roll-container .roll .text-container h4 {
  margin-bottom: 15px;
}

.mg-b-4, .wrapper .main-container .window .roll-container .roll .personal-info {
  margin-bottom: 20px;
}

.mg-b-5 {
  margin-bottom: 25px;
}

.mg-b-6 {
  margin-bottom: 30px;
}

.mg-b-7 {
  margin-bottom: 35px;
}

.mg-b-8 {
  margin-bottom: 40px;
}

.mg-r-1 {
  margin-right: 5px;
}

.mg-r-2 {
  margin-right: 10px;
}

.mg-r-3 {
  margin-right: 15px;
}

.mg-r-4 {
  margin-right: 20px;
}

.mg-r-5 {
  margin-right: 25px;
}

.mg-r-6 {
  margin-right: 30px;
}

.mg-r-7 {
  margin-right: 35px;
}

.mg-r-8 {
  margin-right: 40px;
}

.mg-l-1 {
  margin-left: 5px;
}

.mg-l-2 {
  margin-left: 10px;
}

.mg-l-3 {
  margin-left: 15px;
}

.mg-l-4 {
  margin-left: 20px;
}

.mg-l-5 {
  margin-left: 25px;
}

.mg-l-6 {
  margin-left: 30px;
}

.mg-l-7 {
  margin-left: 35px;
}

.mg-l-8 {
  margin-left: 40px;
}

.wrapper {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.wrapper .navigation-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 85px;
  z-index: 10;
}

.wrapper .navigation-container .nav-btn {
  width: 100%;
  height: 78px;
  border: none;
  border-bottom: 1px solid rgba(192, 192, 192, 0.1);
  background-color: transparent;
  font-size: 25px;
  position: relative;
}

.wrapper .navigation-container .nav-btn:hover .tooltips {
  opacity: 1;
  -webkit-animation: navTooltip 0.3s ease-in-out running;
          animation: navTooltip 0.3s ease-in-out running;
}

.wrapper .navigation-container .nav-btn:active {
  color: white;
}

.wrapper .navigation-container .nav-btn .tooltips {
  position: absolute;
  left: calc(100% + 10px);
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: white;
  padding: 5px 16px;
  opacity: 0;
}

.wrapper .navigation-container .nav-btn .tooltips:after {
  content: "";
  background-color: inherit;
  width: 13px;
  height: 13px;
  position: absolute;
  left: -6px;
  top: 50%;
  -webkit-transform: translateY(-50%) rotateZ(45deg);
          transform: translateY(-50%) rotateZ(45deg);
}

@-webkit-keyframes navTooltip {
  0% {
    -webkit-transform: translateY(-50%) rotateZ(-7deg);
            transform: translateY(-50%) rotateZ(-7deg);
  }
  50% {
    -webkit-transform: translateY(-50%) rotateZ(7deg);
            transform: translateY(-50%) rotateZ(7deg);
  }
  100% {
    -webkit-transform: translateY(-50%) rotateZ(0deg);
            transform: translateY(-50%) rotateZ(0deg);
  }
}

@keyframes navTooltip {
  0% {
    -webkit-transform: translateY(-50%) rotateZ(-7deg);
            transform: translateY(-50%) rotateZ(-7deg);
  }
  50% {
    -webkit-transform: translateY(-50%) rotateZ(7deg);
            transform: translateY(-50%) rotateZ(7deg);
  }
  100% {
    -webkit-transform: translateY(-50%) rotateZ(0deg);
            transform: translateY(-50%) rotateZ(0deg);
  }
}

.wrapper .navigation-container .active {
  color: white;
}

.wrapper .navigation-container .active .tooltips {
  opacity: 0 !important;
}

.wrapper .main-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.wrapper .main-container .window {
  width: 50%;
  overflow-y: hidden;
  position: relative;
}

.wrapper .main-container .window .roll-container {
  width: 100%;
  height: 500vh;
  position: absolute;
  border: none;
  -webkit-transition: 0.5s cubic-bezier(1, 0.15, 0.53, 0.93);
  transition: 0.5s cubic-bezier(1, 0.15, 0.53, 0.93);
}

.wrapper .main-container .window .roll-container .roll {
  height: 100vh;
  border: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  overflow: hidden;
}

.wrapper .main-container .window .roll-container .roll .what-can-i-do-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.wrapper .main-container .window .roll-container .roll .what-can-i-do-container div {
  width: 50%;
}

.wrapper .main-container .window .roll-container .roll .roll-devider {
  width: 100%;
  padding: 60px;
  border-bottom: 2px solid rgba(192, 192, 192, 0.3);
}

.wrapper .main-container .window .roll-container .roll .roll-fig {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  position: relative;
}

.wrapper .main-container .window .roll-container .roll .roll-fig .roll-img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrapper .main-container .window .roll-container .roll .roll-fig .name-tag {
  height: 120px;
  position: absolute;
  right: 0;
  top: 10%;
  -webkit-transform: translatey(100%);
          transform: translatey(100%);
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}

.wrapper .main-container .window .roll-container .roll .roll-fig .name-tag-move {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  padding: 40px 60px;
}

.wrapper .main-container .window .roll-container .roll .roll-fig .family-tag {
  height: 120px;
  position: absolute;
  left: 0;
  top: 10%;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 60px;
  text-transform: uppercase;
}

.wrapper .main-container .window .roll-container .roll .roll-fig .family-tag-move {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.wrapper .main-container .window .roll-container .roll .roll-fig .describe-tag {
  position: absolute;
  left: 0;
  top: calc(10% + 120px);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 30px 60px;
  font-weight: bold;
}

.wrapper .main-container .window .roll-container .roll .roll-fig .describe-tag-move {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.wrapper .main-container .window .roll-container .roll .roll-fig .social-tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 0;
  bottom: 10%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.wrapper .main-container .window .roll-container .roll .roll-fig .social-tag figure {
  width: 80px;
  height: 80px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  position: relative;
  border-right: 1px solid rgba(192, 192, 192, 0.3);
}

.wrapper .main-container .window .roll-container .roll .roll-fig .social-tag figure:hover img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.wrapper .main-container .window .roll-container .roll .roll-fig .social-tag figure img {
  width: 70%;
  height: 70%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-filter: grayscale(0.7);
          filter: grayscale(0.7);
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.wrapper .main-container .window .roll-container .roll .roll-fig .social-tag-move {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.wrapper .main-container .window .roll-container .roll .roll-title {
  font-weight: bold;
  margin: 0;
  margin-bottom: 30px;
  position: relative;
}

.wrapper .main-container .window .roll-container .roll .roll-title:after {
  content: '';
  width: 100px;
  height: 3px;
  position: absolute;
  text-align: center;
  bottom: -15px;
  left: 0;
  margin: 0;
  z-index: 1;
}

.wrapper .main-container .window .roll-container .roll h3 {
  font-weight: bold;
}

.wrapper .main-container .window .roll-container .roll h4 {
  font-weight: bold;
  margin: 0;
}

.wrapper .main-container .window .roll-container .roll .text-container h4 {
  border-bottom: 2px solid rgba(192, 192, 192, 0.3);
}

.wrapper .main-container .window .roll-container .roll .personal-info {
  padding: 0;
  list-style-type: none;
  list-style-position: inside;
  border-top: 1px solid rgba(192, 192, 192, 0.3);
}

.wrapper .main-container .window .roll-container .roll .personal-info li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  color: #777;
  border-bottom: 1px solid rgba(192, 192, 192, 0.3);
}

.wrapper .main-container .window .roll-container .roll .personal-info li figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin: 0;
}

.wrapper .main-container .window .roll-container .roll .personal-info li figure figcaption {
  font-weight: bold;
}

.wrapper .main-container .window .roll-container .roll .personal-info li i {
  width: 30px;
}

.wrapper .main-container .window .roll-container .roll .btn-black {
  text-transform: uppercase;
  padding: 8px 20px;
  margin-right: 5px;
  border: 2px solid #222;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-weight: bold;
  color: white;
  background-color: #222;
}

.wrapper .main-container .window .roll-container .roll .btn-black:hover {
  background-color: #de3926;
  color: white;
  border-color: #de3926;
}

.wrapper .main-container .window .roll-container .roll .btn-white {
  text-transform: uppercase;
  padding: 8px 20px;
  margin-right: 5px;
  border: 2px solid #222;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-weight: bold;
  background-color: white;
  color: #222;
}

.wrapper .main-container .window .roll-container .roll .btn-white:hover {
  background-color: #de3926;
  color: white;
  border-color: #de3926;
}

.wrapper .main-container .right-window {
  width: 100%;
}

.wrapper .main-container .right-window .roll-container {
  top: 0;
}

.wrapper .main-container .right-window .roll-container .roll {
  overflow-x: hidden;
  overflow-y: scroll;
}

.wrapper .main-container .left-window {
  width: 100%;
}

.wrapper .main-container .left-window .roll-container {
  bottom: 0;
}

.wrapper .slider-container {
  width: 100%;
  min-height: 300px;
  position: relative;
  overflow-y: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.wrapper .slider-container .slide {
  width: 100%;
  height: 74%;
  position: absolute;
  top: 7%;
  left: 0;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
  background-color: #f3f3f3;
  display: block;
}

.wrapper .slider-container .slide:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f15b";
  background-color: #de3926;
  color: white;
  border: 5px solid white;
  width: 50px;
  height: 50px;
  position: absolute;
  top: -10px;
  left: -6px;
  text-align: center;
}

.wrapper .slider-container .slide p {
  margin: 0;
  text-indent: 40px;
  line-height: 1.7;
  color: #777;
}

.wrapper .slider-container .slide .cate-certification {
  text-align: right;
  font-weight: bold;
}

.wrapper .slider-container .slide .cate-certification:before {
  content: "— ";
}
/*# sourceMappingURL=style-1.css.map */