// base classes in this frameWork are according to 1960px width
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// ______________________________________________font-sizes_____________________________________