// base classes in this frameWork are according to 1960px width
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// ______________________________________________font-sizes_____________________________________
// **********************************************variables
$fz-base-1:16px;
$fz-base-2:18px;
$fz-base-3:20px;
$fz-base-4:22px;
$fz-base-5:24px;
// **********************************************classes
.fz-sm {
    font-size: $fz-base-1;
}

.fz-md {
    font-size: $fz-base-2;
}

.fz-lg {
    font-size: $fz-base-3;
}

.fz-xl {
    font-size: $fz-base-4;
}

.fz-xxl {
    font-size: $fz-base-5;
}

// ______________________________________________colors_____________________________________
// **********************************************variables
$color-base-1:red;
$color-base-2:green;
$color-base-3:blue;
$color-base-4:yellow;
$color-base-5:orange;
// **********************************************classes